.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    height: 100%;
    background-color: lightsteelblue;
}

Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightsteelblue;
    color: white;
    text-align: center;
}